.margem{
    margin-bottom: 10%;
}
.crescer:hover
{
    box-shadow:
    1px 1px #5f5f5f42,
    2px 2px #5f5f5f42,
    3px 3px #5f5f5f42;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
.bg-black{
    background-color: black;
}
.text-black{
    color: black;
}
.btn-rosa{
    background-color: rgb(201, 22, 40);
}
.text-rosa{
    color: rgb(201, 22, 40);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .banner{
     margin-bottom: 5%;
    background-image: url(../../assets/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} 


a:hover{
    text-decoration:none;
}
.section-padding {
	padding: 10px 0;
}
.bottom {
    background-color: black;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}

.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
}
.copyright p span {
    color: #d1caca;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}